/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

html {
  /*background-color: grey;*/
}

h1 {
  background-color: yellow;
}

.notes {
  width: 500px;
}

td, th, tr{
  border-style: solid;
}

div {
  margin: 20px 0;
}
